{% extends "t_admin/base.html" %}

{% block konten%}
    
    <!-- Begin Page Content -->
    <div class="container-fluid">
    
                        <!-- Page Heading -->
                        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                            <h1 class="h3 mb-0 text-gray-800">Anggota UKM</h1>
                            <!--bagian bisa dimasukan form seacrh dari masing-masing data-->
                            <p></p>
                        </div>
    
                        <!-- Content Row -->
                    
                        <div class="row">
    
                            <!-- Data Kategori -->
                            <div class="col-xl-4 col-lg-5">
                                <div class="card shadow mb-4">
                                    <!-- Card Header - Dropdown -->
                                    <div
                                        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                        <h6 class="m-0 font-weight-bold text-primary">Input UKM</h6>
                                       
                                    </div>
                                    <!-- Card Body -->
                                    <div class="card-body">
                                        <!--form inputan-->
                                       <p>bagian untuk meletakan form inputan</p>
                                       <form method="POST">
                                        {{form.hidden_tag()}}

                                    <div class="form-group">
                                        {{form.namaukm.label(class="form-control-label")}}
                                        {% if form.namaukm.errors %}
                                             {{form.namaukm(class="form-control is-invalid")}}
                                    
                                             <div class="invalid-feedback">
                                                 {%for error in form.namaukm.errors %}
                                                 <span>{{error}}</span>
                                                 {% endfor %}
                                             </div>
                                        {%else%}
                                            {{form.namaukm(class="form-control")}}
                                        
                                        {%endif%}
                                    </div>

                                    <div class="form-group">
                                        {{form.noizin.label(class="form-control-label")}}
                                        {% if form.noizin.errors %}
                                             {{form.noizin(class="form-control is-invalid")}}
                                    
                                             <div class="invalid-feedback">
                                                 {%for error in form.noizin.errors %}
                                                 <span>{{error}}</span>
                                                 {% endfor %}
                                             </div>
                                        {%else%}
                                            {{form.noizin(class="form-control")}}
                                        
                                        {%endif%}
                                    </div>

                                    <div class="form-group">
                                        {{form.industriid.label(class="form-control-label")}}
                                        {% if form.industriid.errors %}
                                             {{form.industriid(class="form-control is-invalid")}}
                                    
                                             <div class="invalid-feedback">
                                                 {%for error in form.industriid.errors %}
                                                 <span>{{error}}</span>
                                                 {% endfor %}
                                             </div>
                                        {%else%}
                                            {{form.industriid(class="form-control")}}
                                        
                                        {%endif%}
                                    </div>

                                    <div class="form-group">
                                        {{form.namapemilik.label(class="form-control-label")}}
                                        {% if form.namapemilik.errors %}
                                             {{form.namapemilik(class="form-control is-invalid")}}
                                    
                                             <div class="invalid-feedback">
                                                 {%for error in form.namapemilik.errors %}
                                                 <span>{{error}}</span>
                                                 {% endfor %}
                                             </div>
                                        {%else%}
                                            {{form.namapemilik(class="form-control")}}
                                        
                                        {%endif%}
                                    </div>

                                    <div class="form-group">
                                        {{form.noktp.label(class="form-control-label")}}
                                        {% if form.noktp.errors %}
                                             {{form.noktp(class="form-control is-invalid")}}
                                    
                                             <div class="invalid-feedback">
                                                 {%for error in form.noktp.errors %}
                                                 <span>{{error}}</span>
                                                 {% endfor %}
                                             </div>
                                        {%else%}
                                            {{form.noktp(class="form-control")}}
                                        
                                        {%endif%}
                                    </div>
                                    
                                    <div class="form-group">
                                        {{form.submit(class="btn btn-primary")}}
                                    </div>

                                    

                                    
                                    </form>
                                    </div>
                                </div>
                            </div>
    
                            <!-- Input Kategori -->
                            <div class="col-xl-8 col-lg-7">
                                <div class="card shadow mb-4">
                                    <!-- Card Header - Dropdown -->
                                    <div
                                        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                        <h6 class="m-0 font-weight-bold text-primary">Data UKM</h6>
                                        
                                    </div>
                                    <!-- Card Body -->
                                    <div class="card-body">
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                                                    <thead>
                                                        <tr>
                                                            <th>Nama UKM</th>
                                                            <th>No Izin</th>
                                                            <th>Industri</th>
                                                            <th>Nama Pemiliki</th>
                                                            <th>Proses</th>
                                                        </tr>
                                                    </thead>
                                                    <tfoot>
                                                        <tr>
                                                            <th>Nama UKM</th>
                                                            <th>No Izin</th>
                                                            <th>Industri</th>
                                                            <th>Nama Pemiliki</th>
                                                            <th>Proses</th>
                                                        </tr>
                                                    </tfoot>
                                                    <tbody>
                                                        {% for du in dataukm %}
                                                        <tr>
                                                            <td>{{du.nama_ukm}}</td>
                                                            <td>{{du.no_izin}}</td>
                                                            <td>{{du.industri_id}}/{{du.ukms.industri}}</td>
                                                            <td>{{du.nama_pemilik}}</td>
                                                            <td><a class="btn btn-sm btn-warning" href="{{url_for('gadmin.update_ukm', ed_id=du.id)}}">Edit</a>  <a class="btn btn-sm btn-danger" href="/hapusukm/{{du.id}}" onclick="return confirm('Yakin data akan di hapus')">Hapus</a></td>
                                                            
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                    </table>
                                    </div>
                                </div>
                            </div>
                        </div>
    
    </div></div>      
    
    </div>
                    <!-- /.container-fluid -->
{% endblock%}
    